@import "mixines.scss";
@import "color.scss";

.list {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        width: 300px;
        height: 100%;
    }

    &__block {
        margin-top: 20px;
    }

    &__block button {
        cursor: pointer;
        width: 100%;
        margin-top: 20px;
        height: 40px;
        background-color: rgb(128, 113, 74);
        border: none;
        border-radius: 5px;
        font-size: 18px;
        color: $white;
    }

    &__block button a {
        text-decoration: none;
        color: $white;
    }
}

.filter {

    &__hr {
        width: 240px;
        margin: 40px auto 0 auto;
    }

    &__elem {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        // width: 693px;
    }

    &__look {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 83px;
    }

    &__look-title {
        display: block;
        padding-right: 19px;
        font-size: 14px;
    }

    &__look-input {
        width: 180px;
        height: 30px;
        box-shadow: 4px 4px 20px $black_box_shadow;
        border-radius: 4px;
        border: none;
        text-align: center;
        padding: 6px 0 6px 0;
    }

    &__look-input:hover{
        box-shadow: 4px 4px 20px $black_box_shadow;
    }


    &__country {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;
    }

    &__country-title {
        display: block;
        padding-right: 35px;
        font-size: 14px;
    }

    &__country-block-btn {
        display: center;
        justify-content: space-between;
        width: 500px;
    }
}

.btn {
    width: 75px;
    height: 35px;
    border-radius: 4px 0px 0px 4px;
    border: none;
    background: #fff;
    box-shadow: 4px 4px 20px $black_box_shadow;
}

.btn:hover {
    box-shadow: 4px 4px 20px $black_box_shadow;
}

.btn:focus {
    background: $black;
    color: $white;
}

@media only screen and (max-width: 992px) {
    .filter {
        &__elem {
            display: flex;
            flex-direction: column;
        }

        &__look {
            margin-right: 0;
        }

        &__country {
            margin-top: 20px;
        }


    }
}

@media only screen and (max-width: 768px) {
    .about-coffee {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;

        &__img {
            display: block;
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 576px) {
    .filter {
        &__country {
            display: flex;
            flex-direction: column;
        }

        &__country-block-btn {
            margin-top: 10px;
        }

        &__country-title {
            padding-right: 0;
        }
    }
}