@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.header {
  top: 30px;
  left: 128px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.header__menu {
  width: 355px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__logo {
  width: 35px;
  height: 35px;
  padding-left: 12px;
}
.header__nav, .header a {
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding-top: 20px;
  padding-right: 10px;
}
.header__nav-active {
  font-weight: 700;
}
.header__shop {
  margin: 15px 0 0 600px;
  cursor: pointer;
}
.header__shop-icons {
  position: relative;
}
.header__img {
  width: 30px;
  height: 30px;
}
.header__shop-icon {
  font-size: 28px;
  color: rgb(255, 255, 255);
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
.header__shop-icon a i {
  font-size: 28px;
}
.header__shop-icon.clicked {
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
}
.header__badge {
  position: absolute;
  top: -18px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: brown;
  color: rgb(255, 255, 255);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__user {
  margin-top: 10px;
  margin-left: 6px;
  color: rgb(255, 255, 255);
}
.header__user a {
  font-size: 28px;
  color: rgb(255, 255, 255);
}

.blackheader {
  width: 355px;
  height: 40px;
  margin: 30px auto 0 auto;
}
.blackheader__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blackheader__logo {
  width: 35px;
  height: 35px;
}
.blackheader__nav, .blackheader a {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 12px;
}
.blackheader__nav-active {
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.coffee-beans {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hr {
  width: 60px;
  color: #000;
}

.hr-big {
  width: 240px;
  margin: 30px auto 0 auto;
  color: #000;
}

.beans-img {
  width: 30px;
  height: 30px;
}

.logo-top-img {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 24px;
  text-align: center;
  padding-top: 80px;
}

.title-pt-0 {
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
}

.buy__btn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  margin-left: 30px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.demand__btn {
  background: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  width: 150px;
  height: 30px;
  font-weight: 30px;
  margin-right: 7px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.buy__btn-w-300 {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.buy__btn-w-150 {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.buy__btn-w-300 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.buy__btn-w-300:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
}

.buy__btn:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
}

.footer-bottom {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .header__shop {
    margin: 15px 0 0 400px;
  }
}
@media only screen and (max-width: 992px) {
  .header {
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .header__shop {
    margin: 15px 0 0 40px;
  }
}
@media only screen and (max-width: 576px) {
  .header__menu {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header__logo {
    padding-left: 0;
  }
  .header__shop {
    margin: 15px 0 0 10px;
  }
}
@media only screen and (max-width: 420px) {
  .header__menu {
    width: 300px;
  }
  .header__shop {
    margin: 15px 0 0 2px;
  }
}
.common__section {
  background: url("../assets/image/bg/main_bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 100px 0px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common__section h1 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 40px;
}

.fa {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
}

.fa,
.fa-classic,
.fa-sharp,
.fas,
.fa-solid,
.far,
.fa-regular,
.fab,
.fa-brands {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fas,
.fa-classic,
.fa-solid,
.far,
.fa-regular {
  font-family: "Font Awesome 6 Free";
}

.fab,
.fa-brands {
  font-family: "Font Awesome 6 Brands";
}

.fa-trash-can::before {
  content: "\f2ed";
}

.fa-trash-alt::before {
  content: "\f2ed";
}

.fa-trash::before {
  content: "\f1f8";
}

.fa-cart-shopping::before {
  content: "\f07a";
}

.fa-shopping-cart::before {
  content: "\f07a";
}

:root, :host {
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}

@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.ttf") format("truetype");
}
.far,
.fa-regular {
  font-weight: 400;
}

:root, :host {
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}

@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.ttf") format("truetype");
}
.fas,
.fa-solid {
  font-weight: 900;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-display: block;
  font-weight: 900;
  src: url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.ttf") format("truetype");
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-display: block;
  font-weight: 400;
  src: url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.ttf") format("truetype");
}
@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.ttf") format("truetype");
}
.product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__wrapper {
  margin: 60px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

@media only screen and (max-width: 992px) {
  .product__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 576px) {
  .product__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.product__block {
  width: 220px;
  height: 260px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.product__block:hover {
  cursor: pointer;
  border: none;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}
.product__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.product__title {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #000;
}
.product__title:hover {
  font-weight: 700;
}
.product__link {
  text-decoration: none;
}
.product__country {
  margin-top: 5px;
  font-size: 14px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
.product__price {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
.product__add {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 100px;
  margin-top: -15px;
  border: 1px solid #000;
  border-radius: 50%;
}
.product__add-item {
  position: absolute;
  left: 7px;
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  .product__block {
    margin: 20px;
  }
}
.header {
  top: 30px;
  left: 128px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.header__menu {
  width: 355px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__logo {
  width: 35px;
  height: 35px;
  padding-left: 12px;
}
.header__nav, .header a {
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding-top: 20px;
  padding-right: 10px;
}
.header__nav-active {
  font-weight: 700;
}
.header__shop {
  margin: 15px 0 0 600px;
  cursor: pointer;
}
.header__shop-icons {
  position: relative;
}
.header__img {
  width: 30px;
  height: 30px;
}
.header__shop-icon {
  font-size: 28px;
  color: rgb(255, 255, 255);
  transform: scale(1);
  transition: transform 0.3s ease-out;
}
.header__shop-icon a i {
  font-size: 28px;
}
.header__shop-icon.clicked {
  transform: scale(1.2);
  transition: transform 0.3s ease-out;
}
.header__badge {
  position: absolute;
  top: -18px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: brown;
  color: rgb(255, 255, 255);
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__user {
  margin-top: 10px;
  margin-left: 6px;
  color: rgb(255, 255, 255);
}
.header__user a {
  font-size: 28px;
  color: rgb(255, 255, 255);
}

.blackheader {
  width: 355px;
  height: 40px;
  margin: 30px auto 0 auto;
}
.blackheader__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.blackheader__logo {
  width: 35px;
  height: 35px;
}
.blackheader__nav, .blackheader a {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 12px;
}
.blackheader__nav-active {
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merienda", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.coffee-beans {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hr {
  width: 60px;
  color: #000;
}

.hr-big {
  width: 240px;
  margin: 30px auto 0 auto;
  color: #000;
}

.beans-img {
  width: 30px;
  height: 30px;
}

.logo-top-img {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 24px;
  text-align: center;
  padding-top: 80px;
}

.title-pt-0 {
  font-size: 24px;
  text-align: center;
  padding-top: 30px;
}

.buy__btn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  margin-left: 30px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.demand__btn {
  background: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  width: 150px;
  height: 30px;
  font-weight: 30px;
  margin-right: 7px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.buy__btn-w-300 {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.buy__btn-w-150 {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: rgb(22, 21, 21);
  color: rgb(255, 255, 255);
  margin-top: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.buy__btn-w-300 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.buy__btn-w-300:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
}

.buy__btn:hover {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.7);
}

.footer-bottom {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .header__shop {
    margin: 15px 0 0 400px;
  }
}
@media only screen and (max-width: 992px) {
  .header {
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .header__shop {
    margin: 15px 0 0 40px;
  }
}
@media only screen and (max-width: 576px) {
  .header__menu {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header__logo {
    padding-left: 0;
  }
  .header__shop {
    margin: 15px 0 0 10px;
  }
}
@media only screen and (max-width: 420px) {
  .header__menu {
    width: 300px;
  }
  .header__shop {
    margin: 15px 0 0 2px;
  }
}
.common__section {
  background: url("../assets/image/bg/main_bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 100px 0px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common__section h1 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 40px;
}

.fa {
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
}

.fa,
.fa-classic,
.fa-sharp,
.fas,
.fa-solid,
.far,
.fa-regular,
.fab,
.fa-brands {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

.fas,
.fa-classic,
.fa-solid,
.far,
.fa-regular {
  font-family: "Font Awesome 6 Free";
}

.fab,
.fa-brands {
  font-family: "Font Awesome 6 Brands";
}

.fa-trash-can::before {
  content: "\f2ed";
}

.fa-trash-alt::before {
  content: "\f2ed";
}

.fa-trash::before {
  content: "\f1f8";
}

.fa-cart-shopping::before {
  content: "\f07a";
}

.fa-shopping-cart::before {
  content: "\f07a";
}

:root, :host {
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}

@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.ttf") format("truetype");
}
.far,
.fa-regular {
  font-weight: 400;
}

:root, :host {
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}

@font-face {
  font-family: "Font Awesome 6 Free";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.ttf") format("truetype");
}
.fas,
.fa-solid {
  font-weight: 900;
}

@font-face {
  font-family: "Font Awesome 5 Free";
  font-display: block;
  font-weight: 900;
  src: url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.ttf") format("truetype");
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-display: block;
  font-weight: 400;
  src: url("../webfonts/fa-regular-400.woff2") format("woff2"), url("../webfonts/fa-regular-400.ttf") format("truetype");
}
@font-face {
  font-family: "FontAwesome";
  font-display: block;
  src: url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.ttf") format("truetype");
}
.product__block {
  width: 220px;
  height: 260px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}
.product__block:hover {
  cursor: pointer;
  border: none;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}
.product__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.product__title {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: #000;
}
.product__title:hover {
  font-weight: 700;
}
.product__link {
  text-decoration: none;
}
.product__country {
  margin-top: 5px;
  font-size: 14px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
.product__price {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
.product__add {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 100px;
  margin-top: -15px;
  border: 1px solid #000;
  border-radius: 50%;
}
.product__add-item {
  position: absolute;
  left: 7px;
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  .product__block {
    margin: 20px;
  }
}
.product {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__wrapper {
  margin: 60px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

@media only screen and (max-width: 992px) {
  .product__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 576px) {
  .product__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.card {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-decoration: none;
}
.card__wrapper {
  margin-left: 60px;
  width: 300px;
  height: 230px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card__subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__subtotal-title {
  font-size: 19px;
}
.card__subtotal-price {
  font-size: 25px;
  font-weight: 700;
}
.card__subtitle {
  margin-top: 5px;
  font-size: 17px;
  color: #999;
}

tbody {
  vertical-align: top;
}

td {
  padding: 20px;
  text-align: center;
}

.trash {
  cursor: pointer;
}

.card tr td img {
  width: 100px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 992px) {
  .card {
    display: flex;
    flex-direction: column;
  }
  .card__wrapper {
    margin: 40px auto 0 auto;
  }
  .card h2 {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 576px) {
  th {
    padding: 10px;
  }
  td {
    padding: 0;
  }
}
.delete__title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.update__btn {
  background-color: rgb(128, 113, 74);
  color: rgb(255, 255, 255);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  width: 120px;
  height: 23px;
  font-weight: 30px;
  margin-right: 7px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.update__btn a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}/*# sourceMappingURL=delete.css.map */